/* Resetting margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and general layout */
body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #024B5E;
}

/* Header */
header {
    background-color: #797979b5;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
   
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 60px;
    margin-right: 10px;
}

header nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

header nav ul li button {
    background-color: #fff;
    color: #005f73;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}

header nav ul li button:hover {
    background-color: #004e60;
    color: white;
}
.top-of-top-section{
    height: 33px;
    width: 100%;
    background-color: #0686E5;
    display: flex;
    justify-content: space-between;
    padding:  5px 20px;
    color: white;
}

footer {
    background-color: #005f73;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 1rem;
}



.social-media a {
    color: white;
    margin: 0 10px;
    font-size: 1.1rem;
    text-decoration: none;
}


.social-media a:hover {
    color: #ff9800;
}



