
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #024B5E;
}

header {
    background-color: #797979b5;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 80px;
   
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 60px;
    margin-right: 10px;
}

header nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

header nav ul li button {
    background-color: #fff;
    color: #005f73;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    
}

header nav ul li button:hover {
    background-color: #004e60;
    color: white;
}
.top-of-top-section{
    height: 33px;
    width: 100%;
    background-color: #0686E5;
    display: flex;
    justify-content: space-between;
    padding:  5px 20px;
    color: white;
}

footer {
    background-color: #005f73;
    color: white;
    text-align: center;
    padding: 20px;
    height: 70px;
}

footer p {
    font-size: 1rem;
}



.social-media a {
    color: white;
    margin: 0 10px;
    font-size: 1.1rem;
    text-decoration: none;
}


.social-media a:hover {
    color: #ff9800;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
}
.language-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #024B5E;
    border-radius: 25px;
    width: 70px;
    padding: 2px;
    margin: auto;
    cursor: pointer;
}

.language-toggle span {
    flex: 1;
    text-align: center;
    padding: 3px 0;
    font-size: 0.5rem;
    color: rgba(255, 255, 255, 0.5); 
    transition: all 0.3s ease;
}

.language-toggle span.active {
    background-color: #ffffff; 
    color: #024B5E;
    border-radius: 20px;
    font-weight: bold;
}


@media screen and (max-width: 768px) {

    ul.hidden {
        display: none;
    }
    .hamburger {
        display: flex;
    }

    ul {
        position: absolute;
        top: 80px;
        right: 0;
        flex-direction: column;
        background-color: #797979;
        width: 100%;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        display: none;
    }

    ul.show {
        display: flex;
    }
}

