p{
    color: white;
}
.contactUs{
    display: flex;
    width: 100%;
    background-color: #024B5E;
    padding-top: 50px;
}
.contact-form-section{
    width: 50%;
    background-color: #797979b5;
    border-radius: 8px;
    margin: 40px 0px 40px 0px;
}
.contact-form-div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#rightDiv{
    margin-top: 40px;
}
#map{
    width: 400px; 
    height: 250px;
}
@media screen and (max-width: 768px) {
    .contactUs{
        flex-direction: column;
    }
    .top-of-top-section{
        display: none;
    }
    .contact-form-section{
        width: 80%;
        background-color: #797979b5;
        border-radius: 8px;
        margin: 40px 0px 40px 0px;
    }
    .contact-form-div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #map{
        width: 100%; 
    }
    #rightDiv{
       width: 80%;
       margin: auto;
    }
}
